{% extends "base.html" %}

{% block title %}
      Password reset confirm
{% endblock %}

{% block main %}
 {% if validlink %}
 <div class="row">
  <div class="col-sm-4">
  </div>

<div class="col-sm-4">
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
	  <div class = "form-group">
        {{ field.label_tag }}
        
        {{ field }}
		{% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
	  </div>
      {% endfor %}

    <button type="submit" class="btn btn-primary" style="margin-bottom: 5px">Reset password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock main %}