{% extends "base.html" %}

{% block title %}
      Reset Password
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-sm-4">
  </div>

<div class="col-sm-4">
 <h3>Forgot password</h3>
  <form method="post" role="form">
    {% csrf_token %}
    {% for field in form %}
	  <div class = "form-group">
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {{ field.label_tag }}
        
        {{ field }}
      </p>
	  </div>
      {% endfor %}

    <button type="submit" class="btn btn-primary" style="margin-bottom: 5px">Reset password</button>
  </form>
</div>
</div>
{% endblock main %}