{% extends "base.html" %}

{% block title %}
      Change Password {{request.user.username}}
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-sm-4">
  </div>
<div style="color: green;">
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
</div>
<div class="col-sm-4">
  <form method="post" role="form">
    {% csrf_token %}
    {% for field in form %}
	  <div class = "form-group">
      <p>
        {{ field.label_tag }}
          <br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
	  </div>
      {% endfor %}

    <button type="submit" class="btn btn-primary" style="margin-bottom: 5px">Change password</button>
  </form>
  <form action="{% url 'settings' %}" method="GET">
    <button type="submit" class="btn btn-danger" >Back</button>
  </form>
  </div>
{% endblock main %}