{% extends "base.html" %}

{% block title %}
      Users List
{% endblock %}


{% block main %}
    <div class="row">
<div class="col-sm-6">
    <div class="list-group">
    {% for u in users %}
        <ul style="list-style: none">
            <li style="float: left; clear: both;">
            {% if u.username != request.user.username %}
                 <a href="{% url 'profile' u.username %}" class="list-group-item list-group-item-action">{{ u.first_name }} {{ u.last_name }} </a>
        {% endif %}
            </li>
        </ul>
    {% endfor %}
    </div>
</div>
    </div>
{% endblock main %}