{% extends "base.html" %}

{% block title %}
      Users List
{% endblock %}

  {% block nav %}
<!--                         Navbar                                       -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'base' %}" style="font-size: 25px; color: red">prof</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-family: 'Times New Roman', Times, serif; font-size: 20px">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'base' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      {% if request.user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-item nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="#">Friends</a>
      </li>
      <li class="nav-item">
            <a class="nav-item nav-link active" href="{% url 'userslist' %}">Users List</a>
          </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'settings' %}">Settings</a>
          </li>
      <li class="nav-item">
        <a id='logout' class="nav-item nav-link w-100" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">logout</a>
      </li>
    </ul>

      {% else %}

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'login' %}">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'signup' %}">signup</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<!--                      END Navbar                                       -->
  {% endblock nav %}

{% block main %}
    <div class="row">
<div class="col-sm-6">
    <div class="list-group">
    {% for u in users %}
        <ul style="list-style: none">
            <li><a href="{% url 'profile' u.username %}" class="list-group-item list-group-item-action">{{ u.first_name }} {{ u.last_name }} </a></li>
        </ul>
    {% endfor %}
    </div>
</div>
    </div>
{% endblock main %}